*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#000;
    overflow:hidden;
    font-family:"Cinzel", serif;
}

#escena{
    position:relative;
    width:100vw;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

/* FONDO */
#fondo{
    position:absolute;
    inset:0;
    background:
        linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.85)),
        url("fondo.jpg") center/cover no-repeat;
    filter:blur(0px) brightness(1);
    transition:filter 5s linear;
    z-index:1;
}

#fondo.blurActivo{
    filter:blur(8px) brightness(0.6);
}

/* BOTÓN INICIO */
#btnInicio{
    position:absolute;
    z-index:10;
    padding:15px 30px;
    background:transparent;
    color:#E3C58A;
    border:1px solid #E3C58A;
    letter-spacing:3px;
    cursor:pointer;
    opacity:0;
    transition:opacity 2s ease;
}

#btnInicio.mostrar{
    opacity:1;
}

/* NIEBLA */
#niebla{
    position:absolute;
    inset:0;
    opacity:0;
    transition:opacity 5s linear;
    z-index:4;
}

#niebla.activa{
    opacity:1;
}

/* HUMO */
#humo{
    position:absolute;
    inset:0;
    width:100%;
    height:100%;
    object-fit:cover;
    opacity:.45;
    mix-blend-mode:screen;
    z-index:4;
}

/* INVITACIÓN */
#invitacion{
    position:relative;
    z-index:2;
    height:100vh;
    object-fit:contain;
    opacity:0;
    transition:opacity 5s ease;
}

/* CONTADOR */
#contadorContainer{
    position:absolute;
    top:91%;
    left:55%;
    transform:translate(-50%,-50%);
    width:420px;
    text-align:center;
    z-index:3;
    opacity:0;
    transition:opacity 5s ease;
}

.mostrar{
    opacity:1 !important;
}

/* TEXTO */
#tituloContador{
    color:#E3C58A;
    font-size:22px;
}

#contador{
    display:flex;
    justify-content:center;
    color:#E3C58A;
    font-size:70px;
}

#etiquetas{
    display:flex;
    justify-content:center;
    gap:35px;
    color:#C8A874;
    margin-top: -20px;
}

/* BOTÓN FINAL */
#btnPistas{
    display:none;
    margin-top:20px;
    padding:12px 25px;
    background:transparent;
    color:#E3C58A;
    border:1px solid #E3C58A;
    letter-spacing:3px;
}

/* VIDEO */
#videoFinal{
    position:absolute;
    inset:0;
    width:100%;
    height:100%;
    object-fit:cover;
    opacity:0;
    visibility:hidden;
    z-index:5;
    transition:opacity 1s ease;
}

#fundido{
    position:absolute;
    inset:0;
    background:black;
    opacity:0;
    transition:opacity 1s ease;
    z-index:6;
}

@media (max-width: 768px) and (orientation: portrait) {

  #btnInicio {
    width: 80%;
    font-size: 18px;
    padding: 12px;
  }

  #invitacion {
    width: 90%;
    height: auto;
    max-height: 70vh;
  }

  #contadorContainer {
    width: 88%;
    top: 76%;
    left: 50%;
    transform: translate(-30%, -50%);
  }

  #tituloContador {
    font-size: 14px;
    margin-top: 0px;
  }

  #contador {
    font-size: 40px;
    gap: 5px;
  }

  #etiquetas {
    gap: 15px;
    font-size: 12px;
    margin-top: -10px;
  }

  #btnPistas {
    width: 80%;
    font-size: 14px;
    padding: 10px;
  }

}

@media (max-width: 768px) and (orientation: landscape) {

  #btnInicio {
    width: 50%;
    font-size: 14px;
    padding: 10px;
  }

  #invitacion {
    height: 85vh;
    width: auto;
  }

  #contadorContainer {
    width: 60%;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  #tituloContador {
    font-size: 42px;
  }

  #contador {
    font-size: 66px;
    gap: 8px;
  }

  #etiquetas {
    gap: 15px;
    font-size: 11px;
    margin-top: 8px;
  }

  #btnPistas {
    width: 50%;
    font-size: 12px;
    padding: 8px;
  }

}
